@tailwind base;
@tailwind components;
@tailwind utilities;

/* Work sans font */
@font-face {
  font-family: "Work-Sans-thin";
  src: url("/Fonts/Work_Sans/static/WorkSans-Thin.ttf");
}
@font-face {
  font-family: "Work-Sans-ExtraLight";
  src: url("/Fonts/Work_Sans/static/WorkSans-ExtraLight.ttf");
}
@font-face {
  font-family: "Work-Sans-Light";
  src: url("/Fonts/Work_Sans/static/WorkSans-Light.ttf");
}
@font-face {
  font-family: "Work-Sans-Regular";
  src: url("/Fonts/Work_Sans/static/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "Work-Sans-Medium";
  src: url("/Fonts/Work_Sans/static/WorkSans-Medium.ttf");
}
@font-face {
  font-family: "Work-Sans-SemiBold";
  src: url("/Fonts/Work_Sans/static/WorkSans-SemiBold.ttf");
}
@font-face {
  font-family: "Work-Sans-Bold";
  src: url("/Fonts/Work_Sans/static/WorkSans-Bold.ttf");
}
@font-face {
  font-family: "Work-Sans-ExtraBold";
  src: url("/Fonts/Work_Sans/static/WorkSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Work-Sans-Black";
  src: url("/Fonts/Work_Sans/static/WorkSans-Black.ttf");
}
/* IBM plex Mono */
@font-face {
  font-family: "IBM_Plex_Mono-thin";
  src: url("/Fonts/IBM_Plex_Mono/IBMPlexMono-Thin.ttf");
}
@font-face {
  font-family: "IBM_Plex_Mono-ExtraLight";
  src: url("/Fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf");
}
@font-face {
  font-family: "IBM_Plex_Mono-Light";
  src: url("/Fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf");
}
@font-face {
  font-family: "IBM_Plex_Mono_Regular";
  src: url("../../Fonts/ibm-plex-mono/IBMPlexMono-Regular.otf");
}
@font-face {
  font-family: "IBM_Plex_Mono-Medium";
  src: url("../../Fonts/ibm-plex-mono/IBMPlexMono-Medium.otf");
}
@font-face {
  font-family: "IBM_Plex_Mono-SemiBold";
  src: url("/Fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf");
}
@font-face {
  font-family: "IBM_Plex_Mono-Bold";
  src: url("../../Fonts/ibm-plex-mono/IBMPlexMono-Bold.otf");
}

body {
  background: black;
  scroll-behavior: smooth;
}
.ibm-regular {
  font-family: "IBM_Plex_Mono_Regular";
}
.ibm-medium{
  font-family: "IBM_Plex_Mono-Medium";
}
.imb-bold {
  font-family: "IBM_Plex_Mono-Bold";
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.input-otp {
  background: linear-gradient(
    135deg,
    rgba(31, 30, 35, 0.1) 0%,
    rgba(5, 5, 5, 0.1) 100%
  );
  box-shadow: 0px 1px 94px 20px rgba(72.78, 111.91, 250.65, 0.15);
  overflow: hidden;
  border: 0.65px rgba(255, 255, 255, 0.2) solid;
}

.btn-color {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(
      314deg,
      rgba(110, 96, 244, 0.2) 1.67%,
      rgba(127, 119, 205, 0.17) 27.23%,
      rgba(0, 0, 0, 0) 98.81%,
      rgba(160, 152, 240, 0) 98.81%
    ),
    #09090b;
}
.container-color {
  border-radius: 4px;
  border: 0.651px dashed rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    135deg,
    rgba(31, 30, 35, 0.1) 0%,
    rgba(5, 5, 5, 0.1) 100%
  );
  box-shadow: 0px 1px 94px 20px rgba(73, 112, 251, 0.15);
  backdrop-filter: blur(2px);
}
.btn-blur {
  background-image: url("/images/stopbg.svg");
  background-size: cover;
  object-position: center;
  background-repeat: no-repeat;
}
@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #a3e635;
  --secondary: #27272a;
  --size: 258px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 0.75turn at 50% 100%,
    var(--primary) calc(var(--percentage) * 1% / 2),
    var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%)
  );
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 60%, #000 60%);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

.background-info {
  background: linear-gradient(
      314deg,
      rgba(15, 164, 70, 0.2) 1.67%,
      rgba(13, 139, 59, 0.17) 27.23%,
      rgba(0, 0, 0, 0) 98.81%,
      rgba(15, 164, 70, 0) 98.81%
    ),
    #09090b;
}
.border-info{
  border-radius: 12px;
  border: 4px solid rgba(39, 39, 42, 0.6);
}
